<html>

<head>
    <title>Vos billets pour le Musée du Louvre</title>
</head>

<body>
<div>
    <div>
        <div>
            <img src="{{ image }}" alt="logo">
        </div>
        <p>Ce mail contient vos billets d'entrée.<br/>Conservez le, il vous sera demandé à l'entrée du Musée<br/>
        </p>
        <hr>
    </div>
    <div>
        <h1>Confirmation d'achat. Merci pour votre commande et bonne visite !</h1>
        <div>
            <p>Date de réservation : {{ reservation.datevisite|date('d M Y') }}</p>
            <p>Code de réservation : {{ reservation.code }}</p>
            <p>Nombre de billets : {{ reservation.nbBillets }}</p>
            <p>Prix total : {{ reservation.prixtot }} €</p>
        </div>
        <hr>
        <div>
            {% set nbr = 1 %}
            {# For each client, we display last and first names #}
            {% for billet in reservation.billets %}
                <div>
                    <hr>
                    <p><b>Billet #{{ nbr }}</b></p>
                    <p><b>Nom Complet :</b> {{ billet.fullname }}</p>
                    <p><b>Type de billet :</b> {{ billet.type }}</p>
                    <p><b>Prix :</b> {{ billet.prix }} € {% if billet.tarifreduit == true %} (Tarif réduit) {% endif %}</p>
                    {% set nbr = nbr+1 %}
                </div>
            {% endfor %}
            <hr>
        </div>
        <div>
            <strong>Veuillez noter qu'un justificatif pourra vous être demandé à l'entrée du Musée.</strong>
        </div>
    </div>
    <br/>
</div>
</body>
</html>